<div class="container">
  <h1>Welcome to about page</h1>
  <p>Car rental Service is specialized to help people to list their car to make
    some extra money while they do not use their car and to rent a car when they
    need to drive</p>
  <p>if have any question, feel free to contact us by clicking link below</p>
  <a class="nounderline" href="/contact">Contact Us</a>
  <small>All rights reserved. Copyright &copy 2021</small>
</div>