<div class="container">
  <div class="content-center">
    <h2 class="center">Welcome</h2>
    <h2 class="center">Car Rental Service</h2>
    <h2 class="center">
      <a href="/auth/facebook" class="btn btn-primary">
        Login With Facebook
      </a>
    </h2>
    <h2 class="center">
      <a href="/auth/google" class="btn btn-danger">
        Login With Google
      </a>
    </h2>
    <h2 class="center">
      <a href="/email" class="btn btn-info text-light">
        Login With Email
      </a>
    </h2>
    <h5 class="center">
      <a href="/signup" class="nounderline">Need an Account?</a>
    </h5>
  </div>
</div>
<style>
  .content-center { margin: 0; position: absolute; top: 50%; left: 50%;
  -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  body{ background-image: linear-gradient(45deg, #20232a 0%, #096fb9 100%);}
</style>